.loading {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 60px 40px;
}

.loading--fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 111;
}

.loading__animated-icon {
  width: 172px;
}

.loading--visible {
  opacity: 1;
  visibility: visible;
}





